
@{
    ViewData["Title"] = "Index";
}




	<h1>login</h1>
	<div class="d-flex justify-content-center">	

	<form action="Login" method="post">
	<input type="email" name = "email" id="email"/>
	<br />
	<input type="password" name ="password" id="password"/>
	<br />
	<button type="submit" class="btn btn-primary">
		submit
	</button>
	</form>>
		
</div>

