@{
    ViewData["Title"] = "GeoProfs";
}
@using Microsoft.AspNetCore.Http.Extensions;
@using Microsoft.AspNetCore.Http;


<div class="jumbotron">
    <h1>Geo Profs</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Welcome to Geo Profs</h2>
        <p>
            This is an application. It is made for GeoProfs. Here you can register the hours.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Register hours</h2>
        <p>You can register worked hours here.</p>
    </div>
    <div class="col-md-4">
        <h2>leave of absence</h2>
        <p>You can ask for leave of absence here and also call in sick.</p>
    </div>
</div>