@{
    ViewData["Title"] = "GeoProfs";
}


<div class="register">
    <input type="email" name="email" id="email" placeholder="Email" />
	<input type="text" name="first_name" id="first_name" placeholder="First name" />
    <input type="text" name="last_name" id="last_name" placeholder="Last name" />
    <input type="password" name="password" id="password" placeholder="Password" />
    <input type="password" name="secondPassword" id="secondPassword" placeholder="Password confirmation" />
	<button type="submit" class="btn btn-primary">submit</button>
</div>  